extends ../adminLayout.pug

block content
  h3 Payment processing
  if validated
    h3 Validierung
    each participant in validated
      div(class=participant.valid ? 'valid-payment' : 'invalid-payment')
        div Token: #{participant.participant.paymenttoken}
        div Gültig: #{participant.valid}
        div Verwendungszweck: #{participant.reason}
        div Betrag: #{participant.amount}
    form(method="POST", action="/admin/paymentprocessing/validate?_csrf="+csrf)
      each participant in validated
        if participant.valid
          input(type='hidden', name='valid', value=participant.participant.paymenttoken)
      .row
        .eight.columns.padding
          button#validate-results.primary.button-primary.pace.u-full-width(type='submit') Als bezahlt bestätigen
  h3 Import
  form(method="POST", action="/admin/paymentprocessing/import?_csrf="+csrf, enctype="multipart/form-data")
    .row
      input(type="file", name="displayImage")
    .row
      .eight.columns.padding
        button#upload-results.primary.button-primary.pace.u-full-width(type='submit') Ergebnisse importieren


