script(src='/javascript/moment.min.js')
h1 Angaben ändern
form#editParticipantForm(method='POST', action=formAction)
  .row
    .six.columns.padding
      label(for='firstname') Vorname:
      input#firstname.u-full-width(type='text', name='firstname', value=participant.firstname)
    .six.columns.padding
      if !teamEvent
          label(for='lastname') Nachname:
          input#lastname.u-full-width(type='text', name='lastname', value=participant.lastname)
  .row
    .twelve.columns.padding
      label(for='category') In welcher Ergebnisliste möchtest du erscheinen?
      select#category.u-full-width(name='category')
        option(value='m' selected=(participant.category === 'm')) m
        option(value='f' selected=(participant.category === 'f')) f
        if teamEvent
            option(value='mixed' selected=(participant.category === 'mixed')) mixed
  .row
    if !teamEvent
        .twelve.columns.padding
          label(for='birthyear') Geburtsjahr:
          input#birthyear.u-full-width(type='number', name='birthyear', value=participant.birthyear)
  .row
    .twelve.columns.padding
      label(for='email') Email:
      input#email.u-full-width(type='email', name='email', value=participant.email)
  .row
    .twelve.columns.padding
      label(for='team') Name des Teams:
      input#team.u-full-width(type='text', name='team', value=participant.team)
  .row
    .twelve.columns.padding
      label(for='visibility') Öffentlich sichtbar in der Teilnehmer*innenliste:
      select#visibility.u-full-width(name='visibility', required=true)
        option(value='yes', selected=(participant.visibility === 'yes')) Ja
        option(value='no', selected=(participant.visibility === 'no')) Nein
  .row
    if !teamEvent
        .twelve.columns.padding
          label(for='goal') Wie schnell bist du unterwegs?
          select#goal.u-full-width(name='goal', required=true)
            option(value='moderate', selected=(participant.goal === 'moderate'?'true':'false')) Ich laufe gerne und regelmäßig / Die Zeit ist mir nicht so wichtig.
            option(value='relaxed', selected=(participant.goal === 'relaxed'?'true':'false')) Ich möchte gerne mitlaufen, aber ohne Stress in ruhigem Tempo.
            option(value='ambitious', selected=(participant.goal === 'ambitious'?'true':'false')) Ich möchte schnell und sportlich laufen / Die Zeit ist mir wichtig.

  .row
    if !teamEvent
        .six.columns.padding
          label Dein Startblock:
          p#startBlock #{participant.start_block}
  .row
    .six.columns.padding
      label Deine Startnummer:
      p#startNumber #{participant.start_number}

  .row.seconds
    .six.columns.padding
      label Deine Zeit
        input(type="text", placeholder="hh", size="2", name="hours" id="hours")
        span :
        input(type="text", placeholder="mm", size="2", name="minutes" id="minutes")
        span :
        input(type="text", placeholder="ss", size="2", name="calc_seconds" id="calc_seconds")
        script(type='text/javascript').
          $('form#editParticipantForm').submit( (event) => {
              let seconds = moment.duration({
                hours: $('input#hours').val(),
                minutes: $('input#minutes').val(),
                seconds: $('input#calc_seconds').val()
              })/1000
              let $seconds_input = $( "<input id='seconds' name='seconds' type=hidden value=" + seconds + "></input>" )
              $('div.seconds').append($seconds_input)
          });
        if participant.seconds
          script(type='text/javascript').
            s=moment.duration(#{participant.seconds},'seconds')
            $('input#hours').val(s.hours())
            $('input#minutes').val(s.minutes())
            $('input#calc_seconds').val(s.seconds())
  .row
    .twelve.columns.padding
      label Zahlungsstatus:
      p#paymentStatus #{participant.has_payed ? 'Zahlung eingegangen' : 'Zahlung noch nicht eingegangen' }
  input(type='hidden', name='participantid', value=participantid)
  input(type='hidden', name='_csrf', value=_csrf)

  button#submit.button-primary.u-full-width(type='submit') Änderung speichern

  p #{participant.goal}
