h3 Hey #{name}!
  h5 Danke für deine Registrierung.
    if !free
      |  Bitte überweise den Betrag von&nbsp;
      span.amount #{amount}
      |  Euro auf folgendes Konto:
      pre FC St. Pauli Marathon <br>
        | #{bank.name}
        | IBAN #{bank.iban}
        | BIC  #{bank.bic}
        | Verwendungszweck: #{token}
      |  Sobald die Gebühr beglichen ist,
      |  wirst du in der Teilnehmer*innenliste hinzugefügt.
    else
      |  Du bist jetzt zu der Teilnehmer*innenliste hinzugefügt.
  h5 Und übrigens, deine Startnummer:&nbsp;
    span.startNumber #{startnr}

  h5 Du kannst deine persönlichen Angaben unter folgendem Link* ändern:&nbsp;
  h5
    a#editurl(href=editUrl) Angaben ändern
  h3 Im Juni läuft der FC St. Pauli individuell* gegen Rechts - egal wo!
  h5 #[strong ACHTUNG:] Eure Gesundheit ist uns wichtig. Seid verantwortungsvoll und #[strong haltet Abstand] beim Laufen! Verabredet Euch #[strong nicht in großen Gruppen] und beachtet die derzeit geltenden Schutzmaßnahmen, damit Ihr Euch und andere nicht gefährdet!
  h5 Dieses Jahr bieten wir aufgrund der Umstände ausnahmsweise auch Versand an, damit nicht nur Menschen aus Hamburg mitmachen können. Wenn gewünscht, bitte einfach Endsumme um #[strong 4 €] aufstocken und uns eine Email mit #[strong genauem Namen, Adresse und Startnummer] zuschicken.
  h5  Aufgrund der COVID-19 Pandemie findet der 9. Lauf gegen Rechts nicht in der gewohnten Form statt. Die Veranstaltung am 24. Mai ist abgesagt! Aktuell ist ein gemeinsames Zeichen gegen Rechts setzen als Großveranstaltung nicht möglich. In diesem Jahr muss das jede*r für sich machen. Unser Vorschlag: Ihr meldet Euch an und bekommt von uns eine Startnummer*. Auch dieses Jahr wird es ein T-Shirt geben, das Ihr gleich mitbestellen könnt. Damit ausgerüstet lauft Ihr im Juni eine Strecke Eurer Wahl, egal wo, wann und wie Ihr wollt um zu zeigen, dass Faschismus und rechter Hass keinen Platz in dieser Gesellschaft haben. Postet ein Bild davon in den sozialen Medien und verwendet  #lgr2020 #fightfascism #refugeeswelcome #leavenoonebehind und weitere Hashtags Eurer Wahl.
  p  **Modalitäten werden noch bekannt gegeben.

  div * Dieser Link gibt Einsicht in persönliche Daten und sollte nicht weitergegeben werden.
  if email == ''
    h5(style={color: 'red'})#no-email Du hast keine Email-Adresse angegeben. Bitte speichere den Link wirklich gut.
    h5 Wir haben keine Möglichkeit dich zu kontaktieren und der Link ist der einzige Weg deine Daten zu bearbeiten und deine Zeit einzutragen!

