h3 Hey #{name}!
  h5 Danke für deine Registrierung.
    if !free
      |  Bitte überweise den Betrag von&nbsp;
      span.amount #{amount}
      |  Euro auf folgendes Konto:
      pre FC St. Pauli Marathon <br>
        | #{bank.name}
        | IBAN #{bank.iban}
        | BIC  #{bank.bic}
        | Verwendungszweck: #{token}
      |  Sobald die Gebühr beglichen ist,
      |  wirst du in der Teilnehmer*innenliste hinzugefügt.
    else
      |  Du bist jetzt zu der Teilnehmer*innenliste hinzugefügt.
  h5 Und übrigens, deine Startnummer:&nbsp;
    span.startNumber #{startnr}

  h5 Du kannst deine persönlichen Angaben unter folgendem Link* ändern:&nbsp;
  h5
    a#editurl(href=editUrl) Angaben ändern

  h3 Achtung! Keine Zeitnahme!
    h5 Wir werden dieses Jahr KEINE Zeitmessung vornehmen. Das Scannen der Barcodes ist bei so vielen Teilnehmer_innen leider nicht mehr praktikabel.
      | Wer in der Ergebnisliste erscheinen will oder eine Urkunde haben möchte, kann die Zeit nach dem Lauf auf der
      | Webseite selber eintragen und erscheint dann automatisch in der Ergebnisliste und die Urkunde kann runtergeladen werden.
      | Das heisst, Ihr müsst selber wissen wie schnell ihr wart. Für alle, die keine Uhr haben, stehen im Zielbereich grosse Anzeigen bereit, die die Zeit seit dem Start anzeigen.

  div * Dieser Link gibt Einsicht in persönliche Daten und sollte nicht weitergegeben werden.
  if email == ''
    h5(style={color: 'red'})#no-email Du hast keine Email-Adresse angegeben. Bitte speichere den Link wirklich gut. 
    h5 Wir haben keine Möglichkeit dich zu kontaktieren und der Link ist der einzige Weg deine Daten zu bearbeiten und deine Zeit einzutragen!
     
